<ng4-loading-spinner></ng4-loading-spinner>
<div class="post-creation-container">

  <h2>Add new post:</h2>

  <div class="ui-g ui-fluid">

    <label for="subject">Subject</label>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <input class="input-width" type="text"
               id="subject"
               pInputText
               [(ngModel)]="post.subject">
      </div>
    </div>

    <label for="body">Body</label>
    <div class="ui-g-12 ui-md-12">
      <p-editor id="body" [(ngModel)]="post.body"></p-editor>
    </div>

    <label for="published">Published</label>
    <div class="ui-g-12 ui-md-12">
      <p-calendar id="published"
                  [(ngModel)]="publishedDate"
                  [showIcon]="false"
                  showTime="true"
                  hourFormat="24"></p-calendar>
    </div>

    <label>Authors</label>
    <div class="ui-g-12 ui-md-12">
      <p-autoComplete [(ngModel)]="selectedAuthors"
                      [suggestions]="authors"
                      (completeMethod)="searchAuthors($event)"
                      [delay]="500"
                      [multiple]="true"
                      [dropdown]="true"
                      [forceSelection]="true"
                      field="username">
      </p-autoComplete>
    </div>

    <label>Labels</label>
    <div class="ui-g-12 ui-md-12">
      <p-autoComplete [(ngModel)]="selectedLabels"
                      [suggestions]="labels"
                      (completeMethod)="searchLabels($event)"
                      [delay]="500"
                      [multiple]="true"
                      [dropdown]="true"
                      [forceSelection]="true"
                      field="name"
                      placeholder="not working">
      </p-autoComplete>
    </div>
  </div>

  <div class="divider"></div>
  <button type="button" pButton (click)="save()" label="Save post"></button>
</div>
