<ng4-loading-spinner></ng4-loading-spinner>
<div class="post-creation-container">

  <h2>Add new post:</h2>


  <div class="ui-g ui-fluid">
    <label for="subject">Subject</label>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <input class="input-width" type="text"
               id="subject"
               pInputText
               [(ngModel)]="post.subject">
      </div>
    </div>

    <label for="body">Body</label>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
      <textarea id="body"
                class="text-area-size"
                pInputTextarea
                [(ngModel)]="post.body">
      </textarea>
      </div>
    </div>

    <label for="published">Published</label>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <input type="text"
               id="published"
               class="input-width"
               pInputText
               placeholder="2012-12-12T12:12:12"
               [(ngModel)]="post.published">
      </div>
    </div>


    <label>Authors</label>
    <p-autoComplete [(ngModel)]="selectedAuthors"
                    [suggestions]="authors"
                    (completeMethod)="searchAuthors($event)"
                    [delay]="500"
                    [multiple]="true"
                    [dropdown]="true"
                    [forceSelection]="true"
                    field="username"
                    [style]="{'width':'98%'}">
    </p-autoComplete>

    <label>Labels</label>
    <p-autoComplete [(ngModel)]="selectedLabels"
                    [suggestions]="labels"
                    (completeMethod)="searchLabels($event)"
                    [delay]="500"
                    [multiple]="true"
                    [dropdown]="true"
                    [forceSelection]="true"
                    field="name"
                    [style]="{'width':'98%'}"
                    placeholder="not working">
    </p-autoComplete>
  </div>

  <div class="divider"></div>
  <button type="button" pButton (click)="save()" label="Save post"></button>
</div>
