<ng4-loading-spinner></ng4-loading-spinner>
<div *ngIf="isPostAvailable()">
  <p-fieldset legend="{{post.subject}}">
    <div>{{post.body}}</div>
    <div><span>Authors:</span>
      <div *ngFor="let author of post.authors">
        {{author.username}} ({{author.firstname}} {{author.lastname}})
      </div>
    </div>
  </p-fieldset>
</div>
<a routerLink="/posts" pButton type="button" icon="fa-list" label="Go back"
   class="ui-button-success"></a>
<div *ngIf="!isPostAvailable()">
  <h3>Cannot fetch this post:(</h3>
</div>
